footer{
    padding: 20px 0;
    .customBtn.footerBtn{
        padding: 20px 40px;
        font-size: 18px;
    }
   
}
@media screen and (max-width: 1680px){
   
}
@media screen and (max-width: 1500px){
}
@media screen and (max-width: 1370px){
    
}
@media screen and (max-width: 1198.99px){
    
}
@media screen and (max-width: 991px){
    
}
@media screen and (max-width: 575px){
    
}